@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    XYZWay<br />
    Barrie, ON<br />
    <abbr title="Phone">P:</abbr>
    000.000.0000
</address>

<address>
    <strong>Support:</strong> <a href="mopee8888.com@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mopee88888.com@gmail.com">Marketing@example.com</a>
</address>
