@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This is a test application intended for learning purposes and any work copied is not to violate copyrights. The individual owner's of the work get full credit for their work</p>